* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.heading{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}